*{
    padding: 0px;
    margin: 0px;
}
h1{
    font-size: 60px;
    color: rgb(8, 247, 48);
}
body{
    background-color: rgb(232, 12, 162);
    text-align: center;

}
.container{
    height: 60vh;
    width: 60vh;
}
.game{
    margin-top: 60px;
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    gap: 2px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 12px;
    background-color: white;
    border: none;
    color: blue;
    box-shadow: 0 0 1rem rgb(0,0,0.3);
    font-size: 70px;
    margin: 4px;
    
}
.reset{
    color: blue;
    font-size: larger;
    margin-top: 43px;
    padding: 12px;
    border-radius: 13px;
    background-color: aquamarine;
    
}
#msg{
    height: 30vmin;
    font-size: 9vmin;
    color:rgb(7, 244, 19) ;

}
.msg-container{
    height: 30vmin;
}
#new-btn{
    padding: 7px;
    font-size: 3vmin;
    border-radius: 4vmin;
    background-color: blue;
    color:white;
}

.hide{
    display: none;
}